service: au-adviser-scrapper

provider:
  name: aws
  runtime: nodejs8.10
  stage: dev
  profile: aws-apikey-dev
  memorySize: 128
  timeout: 300
  region: ap-southeast-2

#package:
#  include:
#    - node_modules/*

functions:
  main:
    handler: index.handler
    events:
      - http:
          method: get
          path: /
          cors:
            origin: '*'
      - http:
          path: /{proxy+}
          method: ANY
          cors: true
